module*/*/.terraform/
module*/.terraform/
terraform.tfvars
module*/terraform.tfstate*
module*/terraform.tfplan
module*/*/terraform.tfstate*
module*/*/terraform.tfplan
**/.terraform/*
.terraform/
.terraform


