aws_profile = "sallysue"

network_remote_state_bucket = "NETWORK_STATE_BUCKET_NAME"

# The key pair to use for EC2 instances in the selected region
key_name = "KEY_NAME"

tablename = "DATA_SOURCE_TABLE_NAME"

url = "URL_FROM_THE_LAMBDA_OUTPUT"
